/* logo */
#logo-home{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 8.125rem;
    padding-top:0px; 
    padding-right: 0px;
    padding-bottom: 0px;
    height: 100px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;

    display: flex;
    justify-content: center;
}
/* body */
body{
    width: 100%;
    text-align: center;
    margin-top: 300px;
    margin-bottom: 0;
    padding: 0;
    display: grid;

}
.pagina-principal {
    text-align: center;
    
}
.color-primary {
    color: #000000;
}
h2 {
    font-size: 2em;
    color: #aa6fe6;
    padding-top: 10px;
    padding-bottom: 50px;
}

h3 {
     font-size: 0.875rem;
     text-align: center;
     padding-bottom:0.625em ;
 }
 h2 h3 {
    font-family: "Barlow Condensed",Arial, Helvetica, sans-serif; }

/* header */
.header-banner{
    background: rgb(10,6,14);
    background: radial-gradient(circle, #0b0710 46%, #9c48ca 91%, #ada4b1 100%);
    padding: 1px; 
    text-align: center;
    color: azure;
    height: 1.5em;
    width: 100%;
    box-shadow:  0px 10px 10px -6px #62526c;
}
b {
    animation-duration: 4s;
    animation-name: slidein;
    animation-iteration-count: 2, 1;
    animation-direction: alternate;
}
    
@keyframes slidein {
   from {
    margin-left: 100%;
    width: 300%
   }
   to {
    margin-left: 0%;
    width: 100%;
   }
}
/* reever */
#header {
    background: white;
    height: 150px;
    width: 100%; 
    left: 0; 
    top: 0; 
    position: fixed; 
}

/* nav */
#nav {
    height: 5rem;
    width: 100%; 
    left: 0; 
   top: 100px;  
   position: fixed; 
}
/* menu nav principal */
.link {
    font-family:inherit ;
    font-size:  1em; 
    font-weight: bolder;
    padding-right: 0.3125em;
    padding-left: 0px;
}

/* nav ul { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

} */
nav ul {
    list-style-type: none;
    font: 1em garamond;
    font-weight: bolder;
    text-align: center;
    background-color: #aa6fe6;
    width: 100%;
    padding: 0.625em;
    background-position: 1px;
    box-shadow:  0px 10px 10px -6px #3a1848;
}
ul li a {
    text-decoration: none;
}
ul li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 5px;
    padding-top: 0px;
    text-align: center;
}


/* main */
.main {
    min-height: 100vh;
}
/* .main{
    width: 70%;
    margin: 200px;
    padding-top: 200px;
    padding: 20px;
   /*  background-color: #b47bca; */
    float: left;
    box-sizing: border-box;
} 
main div p {
    text-align: center;
    padding-bottom:0.625em ;
    overflow: hidden;
}

/* footer */
footer {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    width: 100%;
    padding: 30px 30px;
    align-self: flex-end;
}

.socialmedia{
    width: 32px;
    height: 32px;
    font-size: 34px;
 }

/* iniciar sesion */

.registro {
    text-align: center;
    margin-top: 16px;
    margin-right: 4px;
    margin-bottom: 72px;
 }
 .registro-registro {
    margin-top: 1em;
    margin-right: 8px;
    margin-bottom: 1em;
    margin-left: 4px;
}    
/* video */
iframe {
    border-width: 2px;
    border-color: initial;
    border-image: initial; 
    height: 800px;
    width: 100%; 
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 100px;

}
/* inagenes */
.wrapper1{
    grid-template-columns: 2fr,1fr,1fr;
    grid-auto-rows: minmax(100px, auto);
    min-width: 100px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

/* imagenes de index */
.fotos-altas {
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 0px;
    margin-left: 0;
    margin-right: 0;
    width: 220px;
    height: 350px;
}
div img .fotos-altas{
    width: 100em;
    height: 500em;
}

/* imagenes de  promociones*/
table {
    border: #8f0ca3d9 2px solid;
}

th {
    border: black 1px solid;
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-left: 2em;
 }
 
td{  
    border: black 1px solid;
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-left: 2em;
 }
.tablapromo{
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
}
.promolooks .fotos-promo{
    width: 200px;
    height: 400px;
    margin: 0.5rem;
    margin-top: 50px;
    margin-right: auto;
}
.pagina-principal .promolooks {
    display: flex;
   justify-content: center;
}
/* imagenes de  new in*/
/* imagenes de  coleccion*/
/* imagenes de  beauty*/
.fotos-beauty{
    width: 18.75em;
    height: 300px;
    margin-top: 2em;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
    object-fit: cover.
}
.fotos-beauty1{
    width: 25em;
    height: 500px;
    margin-top: 2em;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
    object-fit: cover.

}
.fotos-beauty2 {
    width: 200px;
    height: 200px;
    margin-top: 1em;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
}
.zoom {
    transition: transform .2s; 
}
     
.zoom:hover {
    transform: scale(1.5); 
}
/* imagenes de  accesorios*/
.fotos-cuadradas {
    width: 200px;
    height: 200px;
    margin-top: 1em;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
}
.fotos-cuadradas1{
    width: 400px;
    height: 200px;
    margin-top: 2em;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
}
.fotos-cuadradas11{
    width: 25em;
    height: 300px;
    padding-top: 3em;
    padding-right: 3em;
    padding-left: 3em;
    padding-bottom: 3em;
    margin-right: 3em;
}
.fotos-cuadradas12{
    width: 25em;  
    height: 500px;
    margin-top: 2em;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
}
.fotos-cuadradas13{
    width: 300px;
    height: 450px;
    margin-top: 2em;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 2em;
}
/* efectos imagenes */
.imagen:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
.efecto:hover{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #010002;
    -webkit-box-shadow: 0px 0px 15px 15px #cdc7d1;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
 }
 .rotar:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

/* menu hamburguer */
input:checked  ~ ul{
    display:block;
}
input {
    display: none;
} 
  
label {
    margin-left: 1em;
  }

input#abrir-cerrar { 
    visibility:hidden;
    position: absolute;
    top: -9999px;
}

.toggle-button {
    display:block;
    width:50px;
    height:50px;
    position:relative;
    cursor: pointer;
    box-sizing: border-box;

}
.toggle-button:before, .toggle-button:after {
    position:absolute;
    display:block;
    content:" ";
    width: calc(100% / 2);               
    box-sizing: border-box;
    left: calc(100% / 4);
    transition: all 0.2s ease-out;
}

.toggle-button:before {
    top: calc(100% / 4);
    height:calc(100% / 4);
    border-top:2px solid black;
    border-bottom:2px solid black;
    background-color: transparent;
}

.toggle-button:after {
    height:1px;
    bottom:calc(100% / 4);
    border-top:2px solid black;
    background-color: transparent;
}  
 
input#abrir-cerrar:checked + .toggle-button:before, input#abrir-cerrar:checked + .toggle-button:after {
    top:calc(100% / 2);
    height:1px;
    border-bottom:0;
    
}

input#abrir-cerrar:checked + .toggle-button:before {
    transform: rotate(45deg); 
}

input#abrir-cerrar:checked + .toggle-button:after {
    transform: rotate(-45deg);
}
.abrir, .cerrar { 
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    text-indent: -9999px;
}

.abrir {
    display:block;
}

.cerrar {
    display:none;
}

input#abrir-cerrar:checked + .toggle-button .abrir {
    display:none;
}

input#abrir-cerrar:checked + .toggle-button .cerrar {
    display:block;
}